.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  padding: 2.5rem 1rem;
  gap: 1rem;
  font-family: "Open Sans", sans-serif;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  columns: 2;
  list-style: none;
  font-weight: 600;
  font-size: 18px;

  --footer-link-padding: 0;
  --footer-link-color: white;
  --footer-link-font-size: 18px;
  --footer-link-font-weight: 600;
  --footer-link-background-color: none;
  /* --footer-link-margin: 0 0 1rem 2rem; */
}

.links > li {
  margin: 0 0 1rem 2rem;
}

.links > li:hover {
  text-decoration: underline;
}

.socials {
  flex-direction: column;
  border-top: solid thick rgb(62, 62, 62);
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials > h5 {
  padding: 20px 0 0;
}

@media (min-width: 1024px) { 
  .links {
    display: flex;
    width: auto;
    flex-direction: row;
    padding: 0;
    columns: 1;
  }
  .links > li {
    margin: 0 3rem;
  }
}
