.years_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  color: white;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 1000;
  top: 20%;
}

.years {
  font-size: 6rem;
  animation: boble 2s infinite ease-in-out alternate;
}

.years:hover {
  cursor: pointer;
}

.active_2025 {
  color: #F44336;
}

.active_2025 > p {
  font-size: 8rem;
}

.active_2026 {
  color: #F44336;
}

.active_2026 > p {
  font-size: 8rem;
}

.year_shadow {
  position: absolute;
  color: white;
  z-index: 1;
  top: 15%;
}

.hide {
  display: none;
}

@keyframes boble {
  100% {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) {
  .years_container {
    flex-direction: row;
    gap: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .years_container {
    gap: 10rem;
  }

  .years {
    font-size: 10%
  }

  .active_2025 > p {
    font-size: 15rem;
  }

  .active_2026 > p {
    font-size: 15rem;
  }

  .years {
      font-size: 10rem;
  }
}