.years_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  color: white;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 1000;
  top: 20%;
  gap: 10%;
}
/* Change the positon and layout of the years, make them stack on top of each other in mobile and also delete some useless CSS rules.*/
.years {
  font-size: 4rem;
  animation: boble 2s infinite ease-in-out alternate;
}

.years:hover {
  cursor: pointer;
}

.active_2025 {
  color: #F44336;
}

.active_2025 > p {
  font-size: 4rem;
}

.active_2026 {
  color: #F44336;
}

.active_2026 > p {
  font-size: 4rem;
}

.year_shadow {
  position: absolute;
  color: white;
  z-index: 1;
  top: 15%;
}

.hide {
  display: none;
}

@keyframes boble {
  100% {
    transform: scale(1.1);
  }
}

@media (min-width: 1024px) {
  .years_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 1000;
    top: 20%;
    gap: 5%;
  }

  .years {
    font-size: 10%
  }

  .years:hover {
    cursor: pointer;
  }

  .active_2025 {
    color: #F44336;
  }

  .active_2025 > p {
    font-size: 15rem;
  }

  .active_2026 {
    color: #F44336;
  }

  .active_2026 > p {
    font-size: 15rem;
  }

  .year_shadow {
    position: absolute;
    color: white;
    z-index: 1;
    top: 15%;
  }

  .hide {
    display: none;
  }

  .years {
      font-size: 10vw;
  }
}