.container { 
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position-y: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.inner { 
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.bannerWrap {
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.swiperSlide {
  position: relative;
}

.images {
  object-fit: cover;
  object-position: top;
}

.text {
  color:red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8rem;
}

@media screen and (min-width: 768px) {
  .bannerWrap {
    align-items: center;
  }

  .text {
    font-size: 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .bannerWrap {
    align-items: end;
  }
}
