.link {
  z-index: 3;
  margin: var(--footer-link-margin);
  text-align: center;
}

.link > button {
  padding: var(--footer-link-padding, 1rem);
  font-size: var(--footer-link-font-size, 20px);
  background-color: var(--footer-link-background-color, white);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  text-transform: capitalize;
  font-weight: var(--footer-link-font-weight, 700);
  text-decoration: none;
  border: none;
  width: var(--footer-link-button-width);
}

.link > button > a {
  text-decoration: none;
  color: var(--footer-link-color, black);
}

@media screen and (min-width: 1024px) {
  .link > button {
    opacity: 0.6;
    transition: opacity 0.25s ease-in;
  }

   .link > button:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in;
  }
}