.false {
  display: none;
  opacity: 0;
  transition: display 5s;
}

.true {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  top: 13%;
  width: 90%;
  height: 60%;
  background: #231F20;
  border-radius: 10%;
  flex-direction: column-reverse;
  z-index: 1;
  opacity: 0.9;
  transition: display 2s;
}

.active {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  justify-content: space-evenly;
}

.games {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

@media (min-width: 1024px) {
  .true {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    top: 13%;
    width: 40%;
    height: 60%;
    background: #231F20;
    border-radius: 10%;
    flex-direction: column-reverse;
    z-index: 1;
  }
}