
.card {
    display: flex;
    flex-direction: column;
    border: thick ridge rgb(93, 19, 5);
    border-width: 0.6rem;
    border-radius: 5%;
    width: 25%;
    height: 60%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem 0;
}

.img {
    justify-self: flex-end; 
    border-radius: 50%;
    border: 0.5rem thick ridge darkred;
}

.infosection {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; 
    height: 25%;
    border-top: 0.2rem solid rgb(93, 19, 5);
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}