.container {
  width: 100%;
  z-index: 1;
}

@media (min-width: 1024px) {
  .container {
    scrollbar-width: none;
    justify-content: flex-start;
    width: 45rem;
    position: relative;
    display: flex;

    --left-calendar-arrow-order: 0;
    --right-calendar-arrow-order: 3;
  }
}