.container {
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;
}

.slideTray {
  display: flex;
  align-items: center;
  color: white;
  gap: 2rem;
}

.months:hover {
  /* opacity: 1; */
  cursor: pointer;
  animation: 0.9s infinite alternate slidein;
}

.months {
  font-size: 10rem;
  font-family: Helvetica;
}

.opacity100 {
  opacity: 1;
  font-size: 12rem;
  color:rgb(103, 244, 140);
}

.opacity50 {
  opacity: 0.5;
}

.container_active {
  display: flex;
}

@keyframes slidein {
  0% {
    transform: scale(1) ;
  }
  
  100% {
    transform: scale(1.1) ;
    }
}