.container {
  /* animation: conveyor 5s; */
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
}

.slideTray {
  display: flex;
  align-items: center;
  color: white;
  gap: 2rem;
}

.months {
  align-items: center;
  font-size: 11rem;
  font-family: Helvetica;
  width: auto;
  opacity: 0.5;
}

.months:hover {
  opacity: 1;
}

.container_active {
  display: flex;
}

.active1 {
  opacity: 1;
}

.active0 {
  opacity: 0.5;
}
