.container {
  color: red;
  font-size: 40px;
  padding-left: 1rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    display: none;
  }
}