.bioFade {
  animation: fade-in 2s forwards;
}

.bio {
  height: 35%;
  padding: 1rem;
  text-align: center;
}

.bio > p {
  color: white;
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  height: 85%;
}

@media screen and (min-width: 768px) {
  .bio {
    height: 60%;
    text-align: start;
    padding-right: 1rem;
  }

  .bio > p {
    height: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .bioFade {
    animation: fade-in 2s forwards;
  }

  .bio {
    height: 50%;
    width: 45%;
  }

  .bio > p {
    height: 50%;
  }
}