.card {
  display: flex;
  flex-direction: column;
  background: #4e0c0c;
  border-radius: 15px;
  justify-content: space-evenly;
  box-shadow: 0 4px 23px 5px;
  width: 100%;
  padding: 0rem 0.5rem;
  margin: 2rem 0;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  background: #8a0d0d;
  border-radius:8% 5% 25% 0%;
  padding: 2rem 0rem;
}

.contents > img {
  /* background: #ffffff;
  border-radius: 40% 6% 0% 0%; */
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

.cardRow:last-child {
  margin: 0 5% 0;
}

.img {
  border-radius: 8%;
}

.meta {
  display: flex; 
  flex-direction: column;
  padding: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 4rem;
  position: relative;
  align-items: center;
  border-radius: 0% 0% 12rem 1rem;
  background: white;
  max-height: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.info > h1 {
  height: 100%;
  font-size: 30px;
  font-weight: 500;
}

.info > p { 
  font-weight: 500;
  font-size: 15px;
}

@keyframes slidein {
    from {
        transform: scale(1) ;
      }
    
      to {
        transform: scale(1.1) ;
      }
}

@media screen and (min-width: 1024px) {
  .contents {
    width: 210px;
  }

  .card {
    width: 25%;
    height: 85%;
  }

  .meta {
    width: 100%;
    height: 45%;
  }
}
