.card {
  display: flex;
  flex-direction: column;
  background: #4e0c0c;
  border-radius: 15px;
  justify-content: space-evenly;
  box-shadow: 0 4px 23px 5px;
  padding: 0rem 0.5rem;
  margin: 2rem 0;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #8a0d0d;
  border-radius:8% 5% 25% 0%;
  padding: 2rem 0rem;
  height: 80%;
}

.imgWrapper {
  display: flex;
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  justify-content: center;
}

.cardRow:last-child {
  margin: 0 5% 0;
}

.img {
  border-radius: 8%;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 0% 0% 12rem 1rem;
  background: white;
  min-width: 210px;
}

.meta > h1 {
  height: 100%;
  font-size: 20px;
  font-weight: 500;
}

.meta > p { 
  font-weight: 500;
  font-size: 15px;
}

@keyframes slidein {
    from {
        transform: scale(1) ;
      }
    
      to {
        transform: scale(1.1) ;
      }
}

@media screen and (min-width: 1024px) {
  .contents {
    padding: 1rem 0rem;
  }

  .selected {
    background: linear-gradient(#7e94eb, #fff7f7, #15d600);
  }
  
  .card {
    width: auto;
    height: fit-content;
  }
}
