.section {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.hologramSection {
  opacity: 100;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  z-index: 2;
}

.cross {
  color: red;
  font-size: 40px;
  padding-left: 1rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-left: 1rem;
}

.wrapper {
  position: relative;
  background: gray;
  height: 60%;
  width: 75%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgWrapper {
  height: 100%;
  position: relative;
  aspect-ratio: 3 / 4;
}

.hide {
  opacity: 0.3;
  transition: opacity 1s;
}

.container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  padding-left: 4rem;
  z-index: 1;
}

.container > * {
  scroll-snap-align: center;
}

.fadeIn {
  animation: fade-in 1s forwards;
}

.bioFade {
  animation: fade-in 2s forwards;
}

.bio {
  height: 35%;
  padding: 1rem;
  text-align: center;
}

.bio > p {
  color: white;
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  height: 85%;
}


.bottom {
  z-index: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
}

@keyframes fade-in { 
  0% {
    opacity: 0%;
  }
  
  100% {
    opacity: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section {
    align-items: center;
  }

  .active {
    z-index: 0;
  }

  .cross {
    display: none;
  }

  .hide {
    opacity: 1;
  }

  .wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  .imgWrapper {
    height: 75%;
  }

  .bio {
    height: 60%;
    text-align: start;
    padding-right: 1rem;
  }

  .bio > p {
    height: 60%;
  }

   .container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .imgWrapper {
    height: 95%;
    aspect-ratio: 3 / 4;
  }

  .image {
    position: absolute;
    display: flex;
  }
  
  .container {
    height: 45%;
    align-self: center;
    width: 85%;
    gap: 3rem;
    padding: 0 2rem;
  }

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .fadeIn {
    animation: fade-in 1s forwards;
  }

  .bioFade {
    animation: fade-in 2s forwards;
  }

  .bio {
    height: 50%;
    width: 45%;
  }

  .bio > p {
    height: 50%;
  }
  
  
  /* .bio::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15.5rem;
    height: 11%;
    background: linear-gradient(to top, #5c130f, rgb(255 255 255 / 0%) 55%);
  }; */

  .bottom {
    z-index: 1;
    height: 4rem;
    display: flex;
    justify-content: center;
  }
}