.section {
  height: 90vh;
  width: 100vw;
}

.hologramSection {
  margin-bottom: 20px;
  z-index: -1;
  opacity: 100;
  height: 50%;
  width: 100%;
  background: linear-gradient(to top, rgba(228, 222, 222, 0), rgb(185, 27, 6));
}

.hologramSection > image {
  height: 200%;
  z-index: -1;

}

.fadeIn {
  animation: fade-in 1s forwards;
}

.bioFade {
  animation: fade-in 2s forwards;
}

.bio {
  position: absolute;
  top: 15%;
  left: 35%; 
}

.bio > p {
  color: white;
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
  height: 20%;
}

.cardRow {
  padding: 0 0 1.5rem;
  width: 78vw;
  justify-self: center;
  display: flex;
  height: 50%;
  overflow: scroll;
  overflow-x: scroll;
  scrollbar-width: none;
  align-items: center;
  scroll-snap-type: x mandatory;
  z-index: 2;
}

@keyframes fade-in { 
  0% {
      opacity: 0%;
      left: 0%;
  }

  50% {
    left: 35%;
  }
  
  100% {
    opacity: 100%;
  }
}

.bottom {
  background-color: #9d2323;
  z-index: 0;
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: center;
}