.section {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
}

.hologramSection {
  position: absolute;
  height: 30%;
  /* background: linear-gradient(to top, rgba(228, 222, 222, 0), rgb(185, 27, 6)); */
}

.image {
  position: absolute;
}

.fadeIn {
  animation: fade-in 1s forwards;
}

.bioFade {
  animation: fade-in 2s forwards;
}

.bio {
  height: 35%;
  width: 60%;
  top: 15%;
  left: 5%;
}

.bio > p {
  color: white;
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  height: 100%;
}

.container {
  width: 90vw;
  height: 70vh;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 4rem;
}

.bottom {
  background-color: #9d2323;
  z-index: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
}

@keyframes fade-in { 
  0% {
    opacity: 0%;
  }
  
  100% {
    opacity: 100%;
  }
}


@media screen and (min-width: 1024px) {
  .section {
    justify-content: flex-end;
  }
  
  .hologramSection {
    position: relative;
    display: flex; 
    justify-content: center;
    padding-left: 19rem;
  }

  .fadeIn {
    animation: fade-in 1s forwards;
  }

  .bioFade {
    animation: fade-in 2s forwards;
  }

  .bio {
    height: 100%;
    width: 45%;
  }
  
  .container {
    height: auto;
    display: flex;
    height: 47%;
    align-items: center;
    align-self: center;
    z-index: 2;
    gap: 1rem;
  }
  
  /* .bio::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15.5rem;
    height: 11%;
    background: linear-gradient(to top, #5c130f, rgb(255 255 255 / 0%) 55%);
  }; */

  .bottom {
    background-color: #9d2323;
    z-index: 0;
    height: 4rem;
    display: flex;
    justify-content: center;
  }
}