.section {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.hologramSection {
  opacity: 100;
  height: 50%;
  width: 100%;
  /* background: linear-gradient(to top, rgba(228, 222, 222, 0), rgb(185, 27, 6)); */
  position: absolute;
  height: 30%;
  z-index: 0;
}

.imgWrapper {
  position: relative;
  height: 100%;
  aspect-ratio: 3 / 4;
}

.container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  padding-left: 4rem;
  z-index: 1;
}

.container > * {
  scroll-snap-align: center;
}

.fadeIn {
  animation: fade-in 1s forwards;
}

.bioFade {
  animation: fade-in 2s forwards;
}

.bio {
  height: 35%;
  width: 60%;
  top: 15%;
  left: 5%;
}

.bio > p {
  color: white;
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  height: 50%;
}


.bottom {
  z-index: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
}

@keyframes fade-in { 
  0% {
    opacity: 0%;
  }
  
  100% {
    opacity: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section {
    align-items: center;
  }

   .container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .imgWrapper {
    height: 100%;
    aspect-ratio: 3 / 4;
  }

  .image {
    position: absolute;
    display: flex;
  }
  
  .container {
    height: 45%;
    align-self: center;
    width: 85%;
    gap: 3rem;
    padding: 0 2rem;
  }

  .hologramSection {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .fadeIn {
    animation: fade-in 1s forwards;
  }

  .bioFade {
    animation: fade-in 2s forwards;
  }

  .bio {
    height: 50%;
    width: 45%;
  }
  
  
  /* .bio::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15.5rem;
    height: 11%;
    background: linear-gradient(to top, #5c130f, rgb(255 255 255 / 0%) 55%);
  }; */

  .bottom {
    z-index: 1;
    height: 4rem;
    display: flex;
    justify-content: center;
  }
}