.wrapper {
    width: 100%;
    height: 85vh;
    background-color: rgb(111, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    background-color: white;
    overflow: scroll;
    overflow-x: scroll;
    align-items: center;
    gap: 1rem;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}