.wrapper {
    width: 100%;
    height: 85vh;
    background-color: rgb(111, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    overflow: scroll;
    overflow-x: scroll;
    align-items: center;
    gap: 1rem;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.gradientBottom {
    position: absolute;
    top: 0;
    right: 0; 
    display: flex;
    align-items: center;
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255, 0), rgb(255, 255, 255)); 
    opacity: 100%;
}

.gradientTop {
    position: relative;
    width: 70%;
    height: 70%;
    justify-content: center;
    display: flex;
}