.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(162 37 37), #000000);
  }

.gradientTop {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
