.container {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  display: flex;
  color: white;
  gap: 4rem;
  padding: 0 4rem;
}

.container > * {
  scroll-snap-align: center;
}

.container > *:hover {
  cursor: pointer;
}

.section {
  font-size: 12rem;
  font-family: Helvetica;
  animation: fade-in 0.5s ease-in-out;
}

.opacity100 {
  opacity: 1;
  transition: opacity 0.4s;
  color:#F44336;
}

.opacity50 {
  opacity: 0.5;
}

.container_active {
  display: flex;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    order: 1;
    flex: 1 1 auto;
    min-width: 0;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    height: 13rem;
    animation: fade-in 0.5s ease-out;
  }
  
  .container:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
  