.section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 10%;
  color: var(--arrows-color);
  align-self: center;
  gap: var(--arrows-gap, 1rem);
}

.left,
.right {
  background: none ;
  border: none;
  display: flex;
  justify-content: center;
}

.left > svg {
  height: 40px;
  width: 40px;
  transform: rotate(90deg);
}

.right > svg {
  height: 40px;
  width: 40px;
  transform: rotate(270deg);
}

.left:hover,
.right:hover {
  animation: 0.8s infinite alternate slidein;
  cursor: pointer;
}

@keyframes slidein {
  0% {
    transform: scale(1) ;
  }

  25% { 
    color: rgb(207, 203, 203);
    }

  50% { 
    color: rgb(224, 220, 219);
    }

  75% { 
    color: rgb(255, 255, 255);
    }

  100% {
    color: rgb(255, 255, 255);
      transform: scale(1.5) ;
    }
}
