.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.years_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  color: white;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 1000;
  top: 20%;
}

.years {
  font-size: 10%
}

.years:hover {
  animation: boble 0.5s infinite ease-in-out alternate;
}

.active_2024 {
  color: rgb(103, 244, 140);
}

.active_2024 > p {
  font-size: 15rem;
}

.active_2025 {
  color: rgb(103, 244, 140);
}

.active_2025 > p {
  font-size: 15rem;
}

.year_shadow {
  position: absolute;
  color: white;
  z-index: 1;
  top: 15%;
}

.hidden {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.reveal {
  opacity: 1;
  transition: opacity 0.4s ease;
}

@media (min-width: 1024px) {
  .years_container {
    gap: 4rem;
  }
  .years {
    font-size: 10vw;
  }
}

@keyframes boble {
  100% {
    transform: scale(1.1);
  }
}