.main {
  position: relative;
  height: 85vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  --arrows-color: white;
  --arrows-gap: 30rem;
  /* --arrows-section-position: relative;
  --arrows-position: absolute; */
}

.hidden {
  opacity: 0;
}

.reveal {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  .main {
    height: 100vh;
  }
  
  .reveal {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

  .hidden {
    transition: opacity 0.4s ease-in-out;
  }
}

@keyframes boble {
  100% {
    transform: scale(1.1);
  }
}