.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.hide {
  opacity: 0.3;
  transition: opacity 1s;
}

.section {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  padding-left: 4rem;
  z-index: 1;
}

.section > * {
  scroll-snap-align: center;
}

.bottom {
  z-index: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    align-items: center;
  }

  .hide {
    opacity: 1;
  }

   .section {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    height: 45%;
    align-self: center;
    width: 85%;
    gap: 3rem;
    padding: 0 2rem;
  }
  
  .bottom {
    z-index: 1;
    height: 4rem;
    display: flex;
    justify-content: center;
  }
}