.banner { 
    height: 40%;
    width: 80vw;
    background-color: rgba(147, 23, 42, 50%);
    position: absolute;
    left: 12%;
    bottom: 34%;
    mix-blend-mode: color-dodge;
  }
  
.text {
      position: absolute;
      height: 60px;
      align-content: center;
      width: 70vw;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
      left: 12%;
      bottom: 50%;
  
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 4rem;
      font-style: italic;
  }