.banner { 
    height: 40%;
    width: 80vw;
    background-color: rgba(147, 23, 42, 50%);
    position: absolute;
    left: 12%;
    bottom: 34%;
    mix-blend-mode: color-dodge;
  }
  
.paragraph1 {
      position: absolute;
      height: 60px;
      align-content: center;
      width: 70vw;
      text-align: center;
      color: white;
      left: 12%;
      bottom: 50%;

    font-family: "Lucida Console", monospace;
    font-weight: bold;
    font-size: 17rem;
    font-style: italic;
  }

  .paragraph1 {
    position: absolute;
    height: 60px;
    align-content: center;
    width: 70vw;
    text-align: center;
    color: white;
    bottom: 106%;
    left: -5%;
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    font-size: 17rem;
    font-style: italic;
  }